#city-banner img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin:auto;
    display:block
}

 

#menu-button {
    text-align: right;
}

.vl {
    border-left: 2px grey;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top:0;
}


.button {
    border: 1px;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 
h4 {
    text-align: center;
}
#Portfolio {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.top-left {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 25px;
}

#builders-working img {
    text-align:right;
}

 

#Portfolio {
    width: auto;
    max-width: 600px;
    margin 0 auto 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Goal {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 300px;
}

#leadership {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space:nowrap;    
}
    
#Working {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 300px;
}

#Choose {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 300px;
}
 